.tile {
  perspective: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  height: 80%;
  position: relative;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  position: absolute;
  backface-visibility: hidden;

  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background: #ddd;
  transform: rotateY(0deg);
}
.card-back {
  background: #aaa;
  transform: rotateY(-180deg);
}
