<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-card fxFlex="80%">
    <mat-card-content>
      <ngx-list-lib *ngIf="$itemObs | async as items" [items]=items>
        <ng-template ngxListItemTpl let-item="item">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>{{item.name}}: {{item.time | time}}</div>
            <div>{{item.timestamp | date: 'yyyy.MM.dd'}}</div>
          </div>
        </ng-template>
      </ngx-list-lib>
    </mat-card-content>
  </mat-card>
</div>
