<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card fxFlex="70%">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Memo Game</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="start()" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field class="mar">
          <input matInput type="text" formControlName="nickName" placeholder="nickname" autocomplete="off">
          <mat-error *ngIf="form.get('nickName').hasError('required')"> The nickname field is required!</mat-error>
          <mat-error *ngIf="form.get('nickName').hasError('minlength')"> The nickname is too short!(min {{form.get('nickName').getError('minlength').requiredLength}} chars)</mat-error>
        </mat-form-field>
        <button mat-raised-button class="mat-button" color="accent" type="submit" [disabled]="form.invalid">
          <mat-icon>gamepad</mat-icon>
          <span>START GAME!</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
